form {
  font-family: $sans-serif;

  ul {
    list-style-type: none;
    margin-top: 2em;
    padding: 0px;

    li {
      padding-bottom: 1em;
    }
  }

  .hide { display: none; }
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #ddd;
  color: $color-black;
  transition: border 0.3s;
  // 300px width, but not wider than the parent on narrow phones
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  outline: none;

  &:focus {
    border-bottom: solid 2px #969696;
  }
}

input[type="submit"],
button {
  padding: 0.75em 1.5em;
  background-color: $color-primary;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border: none;

  &:hover {
    color: $color-black;
  }
}
