<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
    <meta
      name='keywords'
      content='open source,todo,talk openly,develop openly,high quality'
    >
    <script src="//use.typekit.net/mer6uvx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel='stylesheet' href='static/style.css' type='text/css'>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <img src="/static/logo.svg" class="logo" alt="TODO">
    </header>
    <article>
