$display-font: Oswald, Helvetica, sans-serif;
$sans-serif: 'Open Sans', Helvetica, sans-serif;
$serif: Merriweather, serif;

@mixin body-copy {
  font-family: $serif;
  font-size: 16px;
  line-height: 2;

  strong {
    font-weight: 700;
  }
}
