{{ define "main" }}
  {{ .Content }}
  {{ $paginator := .Paginate .Pages }}
  {{- range $paginator.Pages }}
      <article class="blog-item">
        <a href="{{ .RelPermalink }}" tabindex="-1" aria-hidden="true">{{ partial "blog/featured-image.html" . }}</a>
        <h2 class="blog-item__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{- partial "blog/byline.html" . }}
        <p class="blog-item__summary">{{ .Summary }}</p>
      </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
