{{ define "title" }}{{ .Title }} {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{- $footerContent := i18n "footerText" | markdownify }}
{{- $noAcknowledgments := eq .Params.noAcknowledgments "true" }}
{{- $githubPrefix := "https://github.com/todogroup/todogroup.github.io/blob/master/content" }}
{{- $githubPath := printf "%s/%s" $githubPrefix .File.Path }}
<div class="guides">
  <h1 class="title">{{ .Title }}</h1>

  <a class="edit-button" href="{{ $githubPath }}">Edit this guide on GitHub</a>

  <article class="content">
    {{ .Content }}
  </article>

  {{- if not $noAcknowledgments }}
  {{ $footerContent }}
  {{- end }}
</div>
{{ end }}
