{{- $pageId := cond (eq .Kind "home") "index" .Title }}
<!DOCTYPE html>
<html>
  <head>
    <script src="/js/redirect.js"></script>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "meta.html" . }}
    {{ partial "css.html" . }}
    {{ partial "google-analytics.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <article id="article" class="page-{{ lower $pageId }}">
      <div class="container">
        {{- block "main" . }}
        {{ .Content }}
        {{- end }}
      </div>
    </article>

    {{ partial "footer.html" . }}
  </body>
</html>
