{{ define "main" }}
{{- $slackChannel := site.Params.slack.channel }}
{{ $langs := site.Home.AllTranslations }}
{{ $lang  := .Language}}
<h1>{{ i18n "hero1" }}</h1>
<h1>{{ i18n "hero2" }}</h1>
<br />
<h2>{{ i18n "hero3" }}</h2>
{{ i18n "heroText" | markdownify }}
<script async defer src="https://slack.{{ $slackChannel }}.org/slackin.js?large"></script>
<br>
<br>
<!-- Embed OSPO landscape as a PNG -->

<a href="https://landscape.todogroup.org/">
    <img src="https://landscape.todogroup.org/images/landscape.png" alt="https://landscape.todogroup.org/images/landscape.png" class="shrinkToFit transparent" width="818" height="492">
</a>
{{ end }}
