---
---

@import "flex.scss";
@import "normalize";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  @include flexbox();
  @include flex-direction(column);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

header {
  @include flex(0 0 80px);
  @include flexbox();
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  height: 120px;
  max-height: 80px;
  max-width: 40%;
  margin: auto auto auto 10%;
}

article {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  @include flex(1);
  @include flexbox();
}

section {
  @include flex(0 0 80%);
  margin: 0 auto auto;
  padding: 0 10%;
}

section * {
  max-width: 800px;
}

footer {
  @include flex(0 0 50px);
  @include flexbox();
  border-top: 1px solid #f0f0f0;
  @include justify-content(space-between);
}

footer a {
  margin: auto 10%;
}
