---
---

@import "flex.scss";
@import "normalize";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

header {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  height: 120px;
  max-height: 80px;
  max-width: 40%;
  margin: auto auto auto 10%;
}

article {
  -webkit-overflow-scrolling: touch;
}

section {
  margin: 0 auto auto;
  padding: 0 10%;
}

section * {
  max-width: 800px;
}

footer {
  border-top: 1px solid #f0f0f0;
  @include justify-content(space-between);
}

footer a {
  margin: auto 10%;
}

// switch to flexbox layout for window sizes that can handle it
@media only screen and (min-width: 500px) and (min-height: 600px) {
  body {
    @include flexbox();
    @include flex-direction(column);
  }
  header {
    @include flex(0 0 80px);
    @include flexbox();
  }
  article {
    @include flex(1);
    @include flexbox();
    overflow: scroll;
  }
  section {
    @include flex(0 0 80%);
  }
  footer {
    @include flex(0 0 50px);
    @include flexbox();
  }
}
