html {
  font-family: AppleSDGothicNeo-Thin, Helvetica, Arial;
  font-size: 24px;
  background: #fff;
  box-shadow: inset 0 0 200px #ccc;
  color: #333;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  margin-top: 1.1em;
  margin-bottom: -0.5em;
}

li {
  padding: 0.1em 0;
}

small {
  font-size: 0.8em;
}

hr {
  height: 1px;
  border: 0;
  background: #ccc;
  margin: 2em 0;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
