---
---

@import "flex.scss";
@import "normalize";
@import "colors.scss";
@import "typography.scss";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: $color-black;
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5;
}

header {
  overflow: hidden;
  padding: 20px 5%;

  a {
    display: block;
    width: 100%;
    .logo {
      height: 120px;
      max-height: 120px;
      max-width: 60%;
      margin: auto auto auto 0;
    }
  }
}

article {
  padding: 0 5%;
  -webkit-overflow-scrolling: touch;
}

section {
  @include body-copy;
  transition: opacity 0.5s;
  &.hidden {
    display: none;
    opacity: 0;
  }
  &.appearing {
    opacity: 0;
  }
  * {
    max-width: 700px;
  }
  :first-child {
    margin-top: 0;
    padding-top: 0;
  }
  :last-child {
    margin-bottom: 0;
    padding-bottom: 2em;
  }

  h1 {
    margin-bottom: 0px;
    line-height: 1.4;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $color-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  &#intro {
    h1 {
      font-family: $display-font;
      text-transform: uppercase;
      color: $color-primary;
      font-size: 4.5em;
      padding: 0px;
      margin: 0px;
      line-height: 1;
      font-weight: 700;

      &:first-child {
        color: $color-secondary;
      }
    }

    h2 {
      font-family: $sans-serif;
      color: $color-black;
      margin-top: .3em;
      font-weight: 700;
      line-height: 1;
    }
  }

  &#join {
    form {
      ul {
        list-style-type: none;
        margin-top: 2em;
        padding: 0px;

        li {
          font-family: $sans-serif;

          div {
            input[type="text"],
            input[type="email"] {
              padding-bottom: 3px;
              border: none;
              border-bottom: solid 2px #ccc;
              color: $color-black;
              transition: border 0.3s;
              width: 300px;
            }

            input[type="text"]:focus,
            input[type="text"].focus,
            input[type="email"]:focus,
            input[type="email"].focus {
              border-bottom: solid 2px #969696;
            }

            input[type="submit"] {
              padding: 1em;
              background-color: $color-primary;
              text-transform: uppercase;
              font-weight: 700;
              color: white;
              border: none;

              &:hover {
                color: $color-black;
              }
            }
          }
        }
      }

      .hide {
        display: none;
      }
    }
  }

  &#faq {
    h2 {
      font-size: 1.25em;
      margin-bottom: 0px;
    }

    p {
      margin-top: 0px;
      margin-bottom: 3em;
    }
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h1, h2, h3, b, strong {
  font-weight: normal;
}

footer {
  height: 50px;
  padding: 20px 5%;
  a {
    font-family: $display-font;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: none;
    color: $color-black;
    transition: color 0.5s, background 0.5s;
    &::before {
      content: "// ";
      color: $color-primary;
    }
    &.fixed {
      display: none;
      font-size: smaller;
      white-space: nowrap;
    }
    &.fluid {
      display: block;
    }
  }
}

// switch to flexbox layout for window sizes that can handle it
@media only screen and (min-width: 500px) and (min-height: 600px) {
  body {
    @include flexbox();
    @include flex-direction(column);
  }

  header {
    @include flex(0 0 120px);
    @include flexbox();
  }

  article {
    @include flex(1);
    overflow: scroll;
    margin-left: 107px;
  }

  footer {
    margin-left: 107px;
    @include flex(0 0 50px);
    @include flexbox();
    @include justify-content(flex-start);
    a.fixed {
      display: block;
      max-width: 180px;
      @include flex(1);
      &.active {
        &::before {
          color: $color-black;
        }
      }
    }
    a.fluid {
      display: none;
    }
  }
}
