<!-- Embed list of all Open Mainframe Project members -->
<iframe 
  src="https://landscape.todogroup.org/embed/embed.html?key=todo-group-member--general&headers=true&category-header=false&category-in-subcategory=true&item-name=false&title-uppercase=false&title-alignment=left&title-font-family=sans-serif&title-font-size=15&style=clean&size=lg&items-alignment=left&bg-color=%23fdfdfd&fg-color=%238f8f8f" 
  frameborder="0"
  id="landscape"
  scrolling="no"
  width="1000"
  loading="lazy"
  style="width: 1px; min-width: 100%; opacity: 1; visibility: visible; overflow: hidden; height: 1717px;"
  title="List of all Open Mainframe Project members"
></iframe>

<script src="https://landscape.todogroup.org/iframeResizer.js"></script>
