<!-- Embed other calendars -->
<div class="cards columns-3 box-grid">
  <div>
    <!-- openssf calendar -->
    <iframe
      src="https://calendar.google.com/calendar/u/0/embed?src=s63voefhp5i9pfltb5q67ngpes@group.calendar.google.com&ctz=UTC&showPrint=0&showTabs=1&src=Y19jcGQ4OTBja2NkOGxndHFhazY1bzY0MTN0c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%2333B679"
      style="border:solid 1px #777"
      width="200"
      height="350"
      frameborder="0"
      scrolling="no"
      loading="lazy"
      title="The OpenSSF meeting calendar hosted on Google"
    ></iframe>
  </div>
<!-- open chain calendar -->
  <div>
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&showTitle=0&showPrint=0&showTabs=1&showCalendars=0&mode=AGENDA&src=Y18wOHNlYjYwOTVvZmp0ZnI1ZmpiNXRhYmdsNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%230083c6"
      style="border:solid 1px #777"
      width="200"
      height="350"
      frameborder="0"
      scrolling="no"
      loading="lazy"
      title="The OpenChain meeting calendar hosted on Google"
    ></iframe>
  </div>
<!-- chaoss calendar -->
  <div>
    <iframe
      src="https://teamup.com/ksbdtwkzagbvw3hcui?showProfileAndInfo=0&showSidepanel=1&showAgendaHeader=1&showAgendaDetails=0&showYearViewHeader=1"
      style="border:solid 1px #777"
      width="200"
      height="350"
      frameborder="0"
      scrolling="no"
      loading="lazy"
      title="The CHAOSS meeting calendar hosted on Google"
    ></iframe>
  </div>
</div>
