<!-- Embed TODO Community meetings calendar -->

<!--
<div data-tockify-component="calendar" data-tockify-calendar="todocommunity"></div>
<div style="border:solid 1px #777"
  width="1000"
  height="600"
  frameborder="0"
  scrolling="no"
  loading="lazy"
  title="The TODO Community meeting calendar hosted on Google" ></div>
<script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
-->

<iframe
  src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=UTC&showPrint=0&showTabs=1&src=Y19jcGQ4OTBja2NkOGxndHFhazY1bzY0MTN0c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%2333B679"
  style="border:solid 1px #777"
  width="1000"
  height="600"
  frameborder="0"
  scrolling="no"
  loading="lazy"
  title="The TODO Community meeting calendar hosted on Google"
></iframe>

