<!-- Embed list of all Open Mainframe Project members -->
<iframe 
  src="https://landscape.todogroup.org/embed/embed.html?key=todo-group-member--general&headers=true&category-header=false&category-in-subcategory=true&item-name=false&title-uppercase=false&title-alignment=left&title-font-family=sans-serif&title-font-size=20&style=clean&size=lg&items-alignment=center&bg-color=%23ffffff&fg-color=%23929292" 
  style="width:100%;height:100%;display:block;border:none;"
  id="landscape"
  scrolling="no"
  loading="lazy"
  title="List of all Open Mainframe Project members"
></iframe>

<script src="https://landscape.todogroup.org/iframeResizer.js"></script>
